.posts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.posts-container h1,h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.postBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 200px;
    height: 100px;
}
.postBox input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.postBox .postButton {
    display: flex;
    align-self: center;
}
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signup-container form {
    border: 2px solid blue;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}
.postContainer {
    border: 2px solid black;
    border-radius: 20px;
    width: 80%;
    height: 90%;
}
