.postDisplay {
  /* background-color: red; */
  height: 90%;
  width: 90%;

  border-radius: 1em;

  display: flex;
  flex-direction: column;

}

.postsContainer::-webkit-scrollbar{
  display: none;
}

.heading {
  display: flex;
  justify-content: center;
  text-align: center;
}

.postsContainer {
  min-width: 450px;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.9em; */
  margin-block-start: 1px;
  overflow-y: scroll;
  height: 90%;

  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */

  align-items: center;

}

.postsContainer:nth-child(odd) {
  margin-left: 1em;
}

/* .postsContainer:nth-child(even) {
  margin-right: 1em;
} */