.sidebar {
  width: 25%;
  background-color: red;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.outlet {
  width: 75%;
  background-color: green;
  height: 100vh;
}

.imgContainer {
  background-color: paleturquoise;
  width: 100%;
  height: 20%;
}

.menuButtonContainer {
  margin-top: 20%;
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  overflow: hidden;
}

.menuButtonContainer button {
  width: 100%;
  background-color: blue;
  color: white;
  padding: 1.2em;

  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menuButtonContainer button:hover {
  cursor: pointer;
  transform: scale(1.2);
}