.loginTextBoxes{
  height: 50%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formBox{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* height: 50%; */
  width: 80%;
}

.passUserLabel{
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.inputText{
  padding: 5px;
  border-radius: 3px;

}

.loginButton{
  background-color: violet;
}