/* find a way to make text form disappear
and only appear on hover
with the "create account centered */


.signup-display{
  display:flex;
  background-color: rgb(0, 157, 255);
  height: 45%;
  width: 70%;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.signup-display:hover{
  cursor: pointer;
  transform: translateY(-0.5em);
  box-shadow: 0px 10px 10px black;
  height: 70%;
  width: 90%;
  z-index: 3;
}

h2{
  margin-left: 30px;
  width: 50%;
}

.signupBox{
  width: 50%;
  height: 70%
}